* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    margin: 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}